::selection{
    color: #ffffff;
    background-color: #699635;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

/* header */

.header {
    background-color: rgba(252, 252, 252, 0.8);
    backdrop-filter: saturate(180%) blur(10px);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.header__logo {
    display: flex;
    text-decoration: none;
    color: #000000;
    transition: .3s;
    align-items: center;
}

.header__logo:hover {
    color: #6C9B55;
}

.logo_img {
    width: 45px;
    height: 45px;
    margin-right: 22px;
}

.logo_title {
    font-weight: 600;
    font-size: 36px;
}

.nav {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    gap: 50px;
}

.nav__link {
    color: #000000;
    text-decoration: none;
    transition: color .3s;
}

.nav__link:hover {
    color: #6C9B55;
}

.nav__link span {
    color: #6C9B55;
}

/* home */

.home {
    color: #FFFFFF;
    margin-top: 210px;
}

.home-container {
    position: relative;
    left: 0;
    top: 0;
    margin: 0 0 0 auto;
    width: 66%;
    
    background: #699635;
    border-radius: 30px 0px 0px 30px;
}

.home_inner {
    display: flex;
}

.home_text {
    padding: 62px;
}

.home_title {
    font-weight: 600;
    font-size: 72px;
    line-height: 88px;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.home_subtitle {
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFCFC;
    padding-left: 30px;
}

.home_img {
    margin: 0 0 0 auto;
    padding-right: 200px;
}

/* map */

.map {
    text-align: center;
}

.map-title h1 {
    font-family: 'Varta', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    text-transform: uppercase;
}

/* form */

.form {
    box-sizing: border-box;
    width: 80%;
    margin: 220px auto 172px auto;
}
  
.inputs {
    display: flex;
    padding-bottom: 45px;
}
  
.input-container {
    position: relative;
}
  
.inputs .input-container:nth-child(1) {
    width: 40%;
    padding-right: 2%;
}
  
.inputs .input-container:nth-child(2) {
    width: 58%;
}

.input-container:nth-child(1) {
    width: 100%;
}

.input {
    padding: 23px 52px;
    border: 2px solid #eee;
    box-sizing: border-box;
    border-radius: 70px;
  
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: rgba(16, 0, 0, 0.6);
  
    resize: vertical;
    outline: 0;
    width: 100%;
  
    transition: border 0.3s;
}
  
.input:hover {
    border: 2px solid #aaa;
}
  
.input:focus {
    border: 2px solid #555;
}
  
.textarea {
    height: 327px;
}
  
.submit {
    text-align: center;
    padding-top: 91px;
}
  
.submit-button {
    color: #FFFFFF;
    text-decoration: none; 
    user-select: none;
    background: #F2B200;
    padding: 9px 100px;
    border-radius: 70px;
    cursor: pointer;
    transition: .3s;
  
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
  
    border: none;
}

.submit-button:hover {
    background-color: #ffc72e;
}

/* consultation */

.consultation_inner {
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.consultation-search {
    position: relative;
    width: 707px;
}

.consultation-search-input {
    width: 100%;
    border: 0;

    border-radius: 60px;
    padding: 30px 100px 30px 59px; 
    box-sizing: border-box;
    outline: none;

    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.consultation-search-button {
    display: inline-block;
    position: absolute;
    right: 0; 
    top: 0;
    border: 0;
    background: #699635;
    padding: 30px 80px;
    color: #fff;
    outline: none;
    border-radius: 60px;

    font-weight: 500;
    font-size: 36px;
    line-height: 44px;

    transition: all .4s ease;
}

.consultation-search-button:hover {
    background-color: #7ab13c;
}

.consultation_inner__text {
    width: 644px;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: rgba(0, 0, 0, 0.5);
}

/* footer-head */

.footer {
    margin-top: 200px;
}

.footer-head {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);
}

.footer__logo {
    display: flex;
    text-decoration: none;
    color: #000000;
    margin-bottom: 65px;
    transition: .3s;
}

.footer__logo:hover {
    color: #6C9B55;
}

.social {
    display: flex;
}

.social__item:hover .social__icon {
    fill: #000000;
}

.social__item {
    width: 60px;
    height: 60px;
}

.social__icon {
    width: 40px;
    height: 40px;
    padding: 12px;

    transition: .3s;
}

.social__icon:hover {
    transform: scale(1.2);
}

/* footer-inner: sitemap */

.footer-inner {
    display: flex;
    margin-top: 43px;
    justify-content: space-between;
}

.sitemap {
    width: 25%;
    margin-left: 120px;
    display: block;
}

.sitemap_title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.sitemap-list {
    list-style: none;
    
}

.sitemap-list li a {
    display: inline-block;
    color: #000000;
    padding: 10px 0;
    text-decoration: none;

    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    transition: .2s;
}

.sitemap-list li a:hover {
    color: #699635;
}

.sitemap-list_left {
    float:left
}

.sitemap-list_right {
    float: right;
}

/* footer-inner: contact */

.contact {
    margin-right: 300px;
}

.contact_title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 80px;
}

.contact_number {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    text-decoration: none;
    color: #000000;

    transition: .3s;
}

.contact_number:hover {
    color: #699635;
}

.contact_number:hover .contact__icon {
    fill: #699635;
}

.contact__icon {
    width: 50px;
    height: 50px;
    fill: #000000;
    padding-right: 34px;
    transition: .3s;
}

.contact_text {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.work_time {
    display: flex;
}

.work_time__icon {
    width: 50px;
    height: 50px;
    fill: #000000;
    padding-right: 34px;
}

.work_times {
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.work_time__day-of-week {
    color: #699635;
}

/* footer-copyright */

.footer-copyright {
    margin: 200px 0 86px 118px;
    display: flex;
    align-items: center;
}

.line {
    display: flex;
    width: 180px;
    height: 12px;
    background-color: #FFCE31;
    border-radius: 60px;
    border: 0;
    margin: 0;
}

.footer-copyright_text {
    padding-left: 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
}